* {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

body {
  display: flex;
  place-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  background-image: linear-gradient(135deg, #385e6f 0%, #0b2d3b 100%);
  overflow-y: overlay;
  overflow-x: clip;
}

button {
  cursor: pointer;
}

/* Webkit Browser (Chrome, Safari, new Edge Versions) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0b2d3b;
}

::-webkit-scrollbar-thumb {
  background: #6a92a5;
  border-radius: 2px;
}

/* Edge (ältere Versionen) */
*::-ms-scrollbar {
  width: 8px;
  height: 8px;
}

*::-ms-scrollbar-track {
  background: #0b2d3b;
}

*::-ms-scrollbar-thumb {
  background: #0b2d3b;
  border-radius: 2px;
}

.mat-mdc-dialog-content {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #6a92a5;
    border-radius: 2px;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #6a92a5 transparent;

  /* Edge */
  &::-ms-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-ms-scrollbar-track {
    background: transparent;
  }

  &::-ms-scrollbar-thumb {
    background: #6a92a5;
    border-radius: 2px;
  }
}
