* {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(135deg, #385e6f 0%, #0b2d3b 100%);
}

button {
  cursor: pointer;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cdk-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.3) !important;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: fixed !important;
  pointer-events: auto;
  z-index: 1001;
  display: flex;
  max-width: 500px !important;
  width: 90% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
