* {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(135deg, #3a2244 -15%, #0b2d3b 100%) no-repeat
    fixed;
  background-size: 100% 100%;
  overflow-x: clip;
}

button {
  cursor: pointer;
}

/* Webkit Browser (Chrome, Safari, new Edge Versions) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0b2d3b;
}

::-webkit-scrollbar-thumb {
  background: #6a92a5;
  border-radius: 2px;
}

/* Edge (ältere Versionen) */
*::-ms-scrollbar {
  width: 8px;
  height: 8px;
}

*::-ms-scrollbar-track {
  background: #0b2d3b;
}

*::-ms-scrollbar-thumb {
  background: #0b2d3b;
  border-radius: 2px;
}
