main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    >span{
        padding: 1.5rem 0 0.75rem 0;
        color: #2F1F42;
        font-size: 1.5rem;
        font-weight: bold;
    }

    >p{
        font-style: italic;
        max-width: 50%;
    }
}